@model MissionDetails

<h1>Mission Details</h1>

<div>
    <h3>Mission ID: @Model.MissionId</h3>
    <p><strong>Agent Nickname:</strong> @Model.AgentNickname</p>
    <p><strong>Agent Location:</strong> X: @Model.AgentLocation.x, Y: @Model.AgentLocation.y</p>
    <p><strong>Target Name:</strong> @Model.TargetName</p>
    <p><strong>Target Role:</strong> @Model.TargetRole</p>
    <p><strong>Target Location:</strong> X: @Model.TargetLocation.x, Y: @Model.TargetLocation.y</p>
    <p><strong>Distance:</strong> @Model.Distance</p>
    <p><strong>Time Left:</strong> @Model.TimeLeft</p>
    <p><strong>Execution Time:</strong> @Model.ExecutionTime</p>
    <p><strong>Status:</strong> @Model.MissionStatus</p>
</div>

<a href="@Url.Action("Index")">Back to List</a>
